@import url('https://fonts.googleapis.com/css?family=Sacramento');

.App{
  padding-bottom: 200px;
}

.title{
  text-align: center;
  padding-top: 70px;
  font-family: 'Sacramento';
}

.title h1{
  font-size: 100px;
}

.to-do{
  text-align: center;
  padding-top: 4%;
}