.cardModel{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 11rem;
    /*margin-right: 18px;*/
}

.btn-taskModel{
    text-align: center;
}

.btn-start{
    width: 100%;
}

.btn-success{
    width: 100%;
    margin-bottom: 1em;
}

.btn-warning{
    width: 100%;
    margin-bottom: 1em;
}

.btn-danger{
    width: 100%;
}